<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>quizify</title>
	<link rel="stylesheet" href="static/stylesheet.css">
</head>
<body>
	<div class="main">
		<div>
      <h2 id="about" class="text">
        Quizify is an application that evaluates how well one truly knows the music they listen to. By connecting with Spotify, you'll receive a test based on snippets of lyrics from your top music.
        <br><br>
        Quizify was originally created on November 20th, 2021 by the following team of UCI students:
        <br>John Lorenzini
        <br>Lawrence Lu
        <br>Anthony Cusimano
        <br>John Daniel Norombaba
        <br>Eric Pedley
        <br><br>
        The project was created as a result of twelve hours of coding at HACK@UCI's ZotHacks 2021.
        <br><br>
        At ZotHacks 2021, Quizify wowed judges and participants alike with its clever twists in concept and a stunning visual design. As such, the project received the majority vote among participants and mentors, being chosen as the “Hacker's Choice” Winner of the event.
        <br><br>
        Moving forward, this version of Quizify is updated and maintained by John Lorenzini.
        <br><br>
        As of the current version, Quizify does not store any data collected. This includes Spotify data such as top music lists or authentication, as well as any lyrics data from Musixmatch.
        <br><br>
        To get a look at where the project is headed, visit the GitHub repo:
        <br>(GitHub Repo)
      </h2>
      <a class="play_again" href="/">return</a>
		</div>
	</div>
  <footer id="footer">Anthony Cusimano, Lawrence Lu, John Lorenzini, Eric Pedley, John Daniel Norombaba<br><a class="about" href="/about" style="color:#45A29E">About</a></footer>
</body>

</html>